.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
    background: rgb(105, 101, 101);
  }
  
  .navlinks {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    text-decoration: none;
  }