*{
    font-family: "Khand", "san-serif";
}
.profile {
    display: flex;
}

.circle {
    position: relative;
    width: 300px; /* Set the desired width */
    height: 300px; /* Set the desired height */
    overflow: hidden; /* Hide any overflow */
    border-image: linear-gradient(to right, #c1f5ff, #0038FF) 10;
}

.circle img{
    width: 100%;
    height: 100%;
    border: 10px solid #c1f5ff;
    border-image-slice: 50%;
    border-image-repeat: stretch;
    border-image-outset: 0;
    border-radius: 50%;
    object-fit: cover;
    /* border-image: linear-gradient(to right, #c1f5ff, #0038FF) 10; */
}

.profile-info {
    text-decoration: none;
    color: white;
    list-style-type: none;
    font-size: 1.5rem;
    padding: 20px;
}

.left-panel {
    padding: 30px;
    height: 100vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.right-panel {
    height: 100vh;
    width: 70%;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-collection button{
    padding: 10px;
    width: 400px;
    height: 100px;
    border:none;
    margin-bottom: 10px;
    border-radius: 40px;
    font-size: 2rem;
    font-family: 'Khand';
    background-color: #242a3c;
    color: #a9e7f2;
    border: 4px solid #a9e7f2;
    font-weight: bold;
    transition: background-color 0.5s;
}

.card-collection button:hover {
    background-color: #a9e7f2;
    color: #242a3c;
}

.pop-up-card {
    display: flex;
    position: fixed;
    z-index: 100;
    top: 30%;
    left: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color:white;
    border: 5px solid #3d28ff;
    border-radius: 30px;
}

.select-chosen {
    outline: none;
    border-top: #282828;
    border-left: white;
    border-right: white;
    font-size:1.5rem;
    padding-left: 15px;
    margin-top: 10px;
    width: 80%;
    height: 70px;
    font-family: 'Khand';
    margin-bottom: 10px;
    border-width: 2px;
    border-radius: 5px;
}

.hide {
    display: none;
}

.show{
    display: block;
}

.pop-up-card button {
    padding: 5px;
    width: 70%;
    border:none;
    margin-bottom: 10px;
    border-radius: 40px;
    font-size: 30px;
    font-family: 'Khand';
    background-color: #ACD4E1;
    color: #282828;
}

.profile-card-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    height: 300px;
    border-radius: 40px;
    border: 4px solid #a9e7f2;
    background-color: #242a3c;
    margin: 15px;
    padding: 20px;
}

.profile-card-profile img {
    width: auto;
    height: 150px;
    margin-right: 20px;
}

.card-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    font-family: 'Khand';
}

.left {
    float: left;
}

.right {
    float: right;
}

.card-row span {
    padding: 5px;
}