

.container-1 {
    height: 100vh;
    background-image: url("../Images/background_home.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
}

.container-2 {
    height: 100vh;
    background-image: url("../Images/background_home_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.text-box {
    display: flex;
    width: 60%;
    height: 85%;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 30px;
    float: left;
}

.text-box h1 {
    color: #B0D3E8;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-family: "Khand";
    font-weight: bold;
}

.text-box-2 {
    display: flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
    align-items:center;
    float: right;
}


.text-content {
    width: 80%;
    height:50%;
    font-size: 50px;
    /*If font is not showing properly, have to download*/
    font-family: "Khand";
    font-style: "regular";
}

.text-content-2 {
    font-size: 50px;
    color: #282828;
    font-family: "Khand";
    font-style: "regular";
}

.img-container {
    padding-top: 40px;
    display: flex;
    width: 40%;
    position:relative; 
}

.img-container img {
    opacity: 0;
    position: absolute;
    width: 400px;
    height:auto;
    filter: drop-shadow(10px 1px 0 #B0D3E8) 
                  drop-shadow(-1px -1px 0 rgb(59, 59, 59));
    animation: FromRightFade 1s ease-in-out forwards;
}

@keyframes FromRightFade{
    from {
        transform: translateX(300px);
        opacity: 0;
    }

    to {
        transform: transformY(0px);
        opacity: 1;
    }
}
.img-container img:nth-child(1){
    z-index:3;
    margin-right: 30px;
    animation-delay: 0.5s;
}
.img-container img:nth-child(2){
    z-index:2;
    width: 350px;
    height:auto;
    margin-left:150px;
    animation-delay: 1s;
}

.img-container-2 {
    padding-top: 40px;
    display: flex;
    width: 40%;
    position:relative; 
}
.img-container-2 img {
    position: absolute;
    width: 600px;
    height:auto;
    filter: drop-shadow(10px 1px 0 #B0D3E8) 
                  drop-shadow(-1px -1px 0 rgb(59, 59, 59));
}

.img-container-2 img:nth-child(1){
    z-index:2;
    top: 150px;
}
.img-container-2 img:nth-child(2){
    z-index:3;
    top: 300px;
    left: 150px;
}

.text-img-box {
    display: flex;
    flex-direction: column;
}

.text-box-2 h1 {
    font-family: "Khand";
    color: #282828;
    font-size: 1.75rem;
    margin-right: 20px;
}

.text-img-box-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}

.text-img-box-row img {
    height: 150px;
    width: auto;
}